<div class="container h-100 d-flex align-items-center justify-content-center">
  <div class="col-4 text-center">
    <h1>Ask coach</h1>
    <form action="/answer" method="get" class="input-group mb-3">
      <input type="text" name="question" class="form-control">
      <input type="submit" value="Ask!" class="btn btn-outline-primary">
    </form>
  </div>
</div>
